:root {
	--backgroundColorMain: #362c36;
	--textColor: #f7f6f0;
	--borderColor: 	#a7cbd5;
	--backgroundColorSecondary: #4d4c59;
	--backgroundColorHover: #71777d;
	--loaderBorderColor: #a7cbd5; 
	--loaderTopBorderColor: #f7f6f0;
	--defaultFont: monospace;
}

html {
	background-color: var(--backgroundColorMain);
	height: 95vh;
}


/* phone view */
@media (max-width: 450px) {
	.wrapper {
		grid-template-areas:
			'. . . . . .' 
			'. loadT loadT loadT loadT .' 
			'. loader loader loader loader .' 
			'. . . . invis .';
		grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
		grid-template-columns: 2vw repeat(4, 20.25vw) 2vw;
		grid-gap: 3vw;
	}

	.loadingText { font-size: 16vw; }

	.loadingCircle {
		border: 10vw solid var(--loaderBorderColor);
		border-top: 10vw solid var(--loaderTopBorderColor);
		width: 40vw;
		height: 40vw;
	}


}


/* every other view */
@media (min-width: 451px) {
	.wrapper {
		grid-template-areas:
			'banL . banR' 
			'banL loadT banR' 
			'banL loader banR' 
			'banL loader banR' 
			'banL invis banR'
			'banL . banR';
		grid-template-rows: 7vw 10vw repeat(2, 5vw) 1vw auto;
		grid-template-columns: 12.9vw 74.2vw 12.9vw;
		grid-gap: 0vw;
	}

	.loadingText { font-size: 8vw; }

	.loadingCircle {
		border: 3vw solid var(--loaderBorderColor);
		border-top: 3vw solid var(--loaderTopBorderColor);
		width: 15vw;
		height: 15vw;
	}
	
}


.wrapper {
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.loadingText {
		color: var(--textColor);
		text-align: center;
		font-family: var(--defaultFont);
		grid-area: loadT;
	}


/* loading circle */
.loadingCircle {
	border-radius: 50%;
	animation: spin 2s linear infinite;
	grid-area: loader;
	margin: 0 auto;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


.leftBorder, .rightBorder {
	background-color: var(--backgroundColorMain);
	color: var(--textColor);
	height: auto;
	width: auto;
	top: 0;
	bottom: 0;
}


.bannerLeft { grid-area: banL; }
.bannerRight { grid-area: banR; }
.bannerLeft, .bannerRight { background-size: fit; background: url(dungeonBorder5.png); margin: 0; }