/* variables */
:root {
	/* universal */
	--backgroundColorMain: #362c36;
	--textColor: #f7f6f0;
	--borderColor: 	#a7cbd5;
	--backgroundColorSecondary: #4d4c59;
	--backgroundColorHover: #71777d;
	--defaultFont: monospace;
	--bannerImage: url(images/back.png);
	/***********/


	/* main */
	--logoImage: url(images/logleLogoSmall.png);
	
	--togTogCheckedImage: url(images/xSmall.png);
	--togTogUncheckedImage: url(images/gearSmall.png);
	--togTogCheckedHoverImage: url(images/xHoverSmall.png);
	--togTogUncheckedHoverImage: url(images/gearHoverSmall.png);
	--checkedImage: url(images/checkedSmall.png);
	--uncheckedImage: url(images/uncheckedSmall.png);
	--checkedHoverImage: url(images/checkedHoverSmall.png);
	--uncheckedHoverImage: url(images/uncheckedHoverSmall.png);
	/***********/


	/* display */
	--encImage0: url(images/AA.png);
	--encImage1: url(images/BH.png);
	--encImage2: url(images/HoI.png);
	--encImage3: url(images/Nel.png);
	--encImage4: url(images/RLP.png);
	--encImage5: url(images/AV.png);
	--encImage6: url(images/NO.png);
	--encImage7: url(images/Uld.png);
	/***********/


	/* loading */
	--loaderBorderColor: #a7cbd5; 
	--loaderTopBorderColor: #f7f6f0;
	/***********/


	/* error */
	--errorColor: #ff0000;
	--errorBannerImage: url(images/bannerError.png);
	/***********/
}

/*	html/body	*/
html, body { 
	height: 95vh;
	background-color: var(--backgroundColorMain);
	font-family: var(--defaultFont);
	caret-color: transparent;
	color: var(--textColor);
}

/* base grid layout of the website */
#baseGrid {
	display: grid;
	grid-template-areas:
		'banL contGrid contGrid contGrid contGrid banR' 
		'banL contGrid contGrid contGrid contGrid banR' 
		'banL contGrid contGrid contGrid contGrid banR' 
		'banL contGrid contGrid contGrid contGrid banR' 
		'banL contGrid contGrid contGrid contGrid banR' 
		'banL contGrid contGrid contGrid contGrid banR'
		'banL contGrid contGrid contGrid contGrid banR';
	grid-template-rows: 9vw repeat(4, 2.5vw) 33vw auto;
	grid-template-columns: 12.9vw 7vw repeat(2, 30.1vw) 7vw 12.9vw;
	grid-gap: 0vw;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*	banner	*/
.banner { 
	background-size: cover;
	background-image: var(--bannerImage);
	margin: 0; 
}
#banL {
	grid-area: banL;
}
#banR {
	grid-area: banR;
}


/* phone styles */
@media (max-width: 450px) {
	#baseGrid {
		display: grid;
		grid-template-areas:
			'contGrid';
		grid-template-rows: 1fr;
		grid-template-columns: 1fr
	}
	
	.banner {
		display: none;
	}
}