<!DOCTYPE html>

<!-- Prevents Caching, Should remove this Eventually -->
<meta http-equiv = 'Cache-Control' content = 'no-cache, no-store, must-revalidate'/>
<meta http-equiv = 'Pragma' content = 'no-cache'/>
<meta http-equiv = 'Expires' content = '0'/>
<!-- -->

<!-- website icon -->
<link rel = 'shortcut icon' href = '{{ url_for("static", filename = "images/logleIcon.ico") }}'>

<!-- style sheet -->
{% block stylesheet %}{% endblock %}
<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'vars.css')}}">


<!-- screen viewport information -->
<meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>
<meta charset = 'UTF-8'>
<meta http-equiv = 'X-UA-Compatible' content = 'ie = edge'>


<!-- javascript that makes it all work.. -->
{% block javascript %}{% endblock %}
<script type = 'text/javascript' src = '{{url_for("static", filename = "scriptsV1.2.js")}}'></script>


{% block form %}{% endblock %}

<!-- actual webpage begins here -->
<html lang = "en" ondragstart = "return false;" ondrop = "return false;">

	<title>{% block title %}{% endblock %}</title>

	<!-- main wrapper/grid that contains the headerText, description, side banners and content wrapper -->
	<div class = "wrapper">
		
		{% block content %}{% endblock %}


		<!-- banners -->
		<div class = 'bannerLeft'></div>
		<div class = 'bannerRight'></div>
		
	</div>

</html>