<!DOCTYPE html>

<!-- website icon -->
<link rel = 'shortcut icon' href = '{{ url_for("static", filename = "images/logleIcon.ico") }}'>

<!-- style sheet -->
<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'varsV2.css')}}">
{% block stylesheet %}{% endblock %}


<!-- screen viewport information -->
<meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>
<meta charset = 'UTF-8'>
<meta http-equiv = 'X-UA-Compatible' content = 'ie = edge'>


<!-- javascript that makes it all work.. -->
{% block javascript %}{% endblock %}
<script src = '{{url_for("static", filename = "scriptsV2.js")}}'></script>


{% block form %}{% endblock %}

<!-- actual webpage begins here -->
<html lang = "en" ondragstart = "return false;" ondrop = "return false;">

	<title>{% block title %}{% endblock %}</title>

	<!-- main wrapper/grid that contains the headerText, description, side banners and content wrapper -->
	<div id = 'baseGrid'>
	
		<!-- banners -->
		<div class = 'banner' id = 'banL'></div>
		<div class = 'banner' id = 'banR'></div>
		
		{% block content %}{% endblock %}

	</div>

</html>