<!DOCTYPE html>

<!-- Prevents Caching, Should remove this Eventually -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>


<!-- icon image -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/logleIcon.ico') }}">

<!-- style sheet -->
<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'displayStylesV2.5.css')}}">

<!-- meta information -->
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
<meta charset = "UTF-8">
<meta http-equiv = "X-UA-Compatible" content = "ie=edge">

<!-- javascript that makes it all work -->
<script type = 'text/javascript'> specList = '{{specList}}'; </script>
<script type = 'text/javascript' src = '{{url_for("static", filename = "scripts.js")}}'></script>

<!-- form for the return button so it plays nice with my grid -->
<form action = '{{url_for("home")}}' method = 'GET' id = "home"></form>


<!-- start of webpage -->
<html lang = "en" ondragstart = "return false;" ondrop = "return false;">
	<title>{{name}}</title>

	<!-- layout of the whole page -->
	<div class = "wrapper">
		
		<!-- layout of the content -->
		<div class = 'contWrapper'>
		
			<!-- return button -->
			<button type = 'button' class = 'rtnBtn' style = 'grid-area:btn' onclick = 'submit("home")'>Return</button>
			
			<!-- average -->
			<div class = 'tempBtn' style = 'grid-area: avg;'>
				<div class = 'playerName'>{{name}}</div>
				<div class = 'amount'>{{spec}}</div>
				<div class = 'avgParse' id = 'avg'>{{avgParse}}</div>
				<script type="text/javascript"> parseColor('{{avgParse}}', 'avg'); </script>
			</div>

			<!-- 0 -->
			<div class = 'encWrapper' style = 'grid-area: enc0;'>
				<img class = 'encImage0'>
				<div class = 'dungeon'>{{name0}}</div>
				<div class = 'amount'>{{amount0}}{{spec0}}</div>
				<div class = 'parse' id = 'zero'>{{parse0}}</div>
				<script type="text/javascript"> parseColor('{{parse0}}', 'zero'); </script>
			</div>

			<!-- 1 -->
			<div class = 'encWrapper' style = 'grid-area: enc1;'>
				<img class = 'encImage1'>
				<div class = 'dungeon'>{{name1}}</div>					<div class = 'amount'>{{amount1}}{{spec1}}</div>
				<div class = 'parse' id = 'one'>{{parse1}}</div>
				<script type="text/javascript"> parseColor('{{parse1}}', 'one'); </script>
			</div>
		
			<!-- 2 -->
			<div class = 'encWrapper' style = 'grid-area: enc2;'>
				<img class = 'encImage2'>
				<div class = 'dungeon'>{{name2}}</div>
				<div class = 'amount'>{{amount2}}{{spec2}}</div>
				<div class = 'parse' id = 'two'>{{parse2}}</div>
				<script type="text/javascript"> parseColor('{{parse2}}', 'two'); </script>
			</div>

			<!-- 3 -->
			<div class = 'encWrapper' style = 'grid-area: enc3;'>
				<img class = 'encImage3'>
				<div class = 'dungeon'>{{name3}}</div>
				<div class = 'amount'>{{amount3}}{{spec3}}</div>
				<div class = 'parse' id = 'three'>{{parse3}}</div>
				<script type="text/javascript"> parseColor('{{parse3}}', 'three'); </script>
			</div>
					
			<!-- 4 -->
			<div class = 'encWrapper' style = 'grid-area: enc4;'>
				<img class = 'encImage4'>
				<div class = 'dungeon'>{{name4}}</div>
				<div class = 'amount'>{{amount4}}{{spec4}}</div>
				<div class = 'parse' id = 'four'>{{parse4}}</div>
				<script type="text/javascript"> parseColor('{{parse4}}', 'four'); </script>
			</div>
				
			<!-- 5 -->
			<div class = 'encWrapper' style = 'grid-area: enc5;'>
				<img class = 'encImage5'>
				<div class = 'dungeon'>{{name5}}</div>
				<div class = 'amount'>{{amount5}}{{spec5}}</div>
				<div class = 'parse' id = 'five'>{{parse5}}</div>
				<script type="text/javascript"> parseColor('{{parse5}}', 'five'); </script>
			</div>
				
			<!-- 6 -->
			<div class = 'encWrapper' style = 'grid-area: enc6;'>
				<img class = 'encImage6'>
				<div class = 'dungeon'>{{name6}}</div>
				<div class = 'amount'>{{amount6}}{{spec6}}</div>
				<div class = 'parse' id = 'six'>{{parse6}}</div>
				<script type="text/javascript"> parseColor('{{parse6}}', 'six'); </script>
			</div>
					
			<!-- 7 -->
			<div class = 'encWrapper' style = 'grid-area: enc7;'>
				<img class = 'encImage7'>
				<div class = 'dungeon'>{{name7}}</div>
				<div class = 'amount'>{{amount7}}{{spec7}}</div>
				<div class = 'parse' id = 'seven'>{{parse7}}</div>
				<script type="text/javascript"> parseColor('{{parse7}}', 'seven'); </script>
			</div>
			
		</div>
			
		<div class = 'bannerLeft'></div>
		<div class = 'bannerRight'></div>
	
	</div>
	
	<!-- widget for the number of logs that the program looks at -->
	<div class = 'numOfRunsCont'>
		<b><u>Log Count</u></b>
		<i>
			AA: {{numRuns0}}<br>
			BH: {{numRuns1}}<br>
			HoI: {{numRuns2}}<br>
			Nel: {{numRuns3}}<br>
			RLP: {{numRuns4}}<br>
			AV: {{numRuns5}}<br>
			NO: {{numRuns6}}<br>
			Uld: {{numRuns7}}<br>
		</i>
		<b>Total: {{numRunsTotal}}</b>
	</div>
	
	<!-- if more than one spec is detected, this gives the option to filter to a specific one -->
	<form action = '{{url_for("loading")}}' method = 'SC' id = 'specForm'>
		<div class = 'specChoice' id = 'specChoice'> Specs
			<input type = 'submit' class = 'specChoiceBtn' id = 'specBtn0' style = 'grid-area: spec0;' onclick = 'setSpecChoice("specBtn0");'></input>
				
			<input type = 'submit' class = 'specChoiceBtn' id = 'specBtn1' style = 'grid-area: spec1;' onclick = 'setSpecChoice("specBtn1");'></input>
				
			<input type = 'submit' class = 'specChoiceBtn' id = 'specBtn2' style = 'grid-area: spec2;' onclick = 'setSpecChoice("specBtn2");'></input>
				
			<input type = 'submit' class = 'specChoiceBtn' id = 'specBtn3' style = 'grid-area: spec3;' onclick = 'setSpecChoice("specBtn3");'></input>
				
			<input type = 'text' id = 'newSpec' name = 'newSpec' style = 'display: none;'></input>
		</div>
		<script>specChoice();</script>
	</form>
	
	<!-- displays the key level and metric the user chose 
	<div class = 'optionsChosen'>
		<img class = 'keyImage'></img>
		<img class = 'twoImage'></img>
		<img class = 'dpsImage'></img>
		<img class = 'hpsImage'></img>
		<img class = 'dpsText'></img>
	</div>
	-->
	
</html>