<!DOCTYPE html>

<!-- Prevents Caching, Should remove this Eventually -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<!-- heiuwehofrwefweofjnweofwoefjwoefwoefjwoeifowe -->

<!-- icon image -->
<link rel="shortcut icon" href="{{ url_for('static', filename='logleIcon.ico') }}">


<!-- meta information -->
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
<meta charset = "UTF-8">
<meta http-equiv = "X-UA-Compatible" content = "ie=edge">

<html lang = "en">
	
	<title>Logle</title>

	WORK IN PROGRESS<br>
	DETAILED ENCOUNTER PAGE HERE SOON(ISH) :)

</html>