<!DOCTYPE html>

<!-- Prevents Caching, Should remove this Eventually -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>


<!-- icon image -->
<link rel="shortcut icon" href="{{ url_for('static', filename='logleIcon.ico') }}">

<!-- style sheet -->
<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'loadingStylesV2.4.css')}}">


<!-- meta information -->
<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
<meta charset = "UTF-8">
<meta http-equiv = "X-UA-Compatible" content = "ie=edge">


<!-- script used to auto submit form data -->
<script>
	function autoSubmit(){
		document.getElementById("myForm").submit();
	}
</script>

<!-- form -->
<form action = '{{url_for("summary")}}' id = "myForm"></form>

<html lang = "en">
	
	<title>Loading...</title>

	<body onload = 'autoSubmit()'>
		<div class = 'wrapper'>
			<!-- loading text -->
			<div class = 'loadingText'>
				<!-- insert the text to be displayed during loading here... -->
			</div>
		
		
			<!-- loading circle so the user knows we're doing something -->
			<div class = 'loadingCircle' id = 'loader'></div>
			
			
			<div class = 'bannerLeft'></div>
			<div class = 'bannerRight'></div>
		
			<!-- invisible button used to jankily autosubmit form so we can store and retrieve updated cookies -->
			<input type = 'submit' style = 'display: none; grid-area: invis;'></input>
		</div>
	</body>
</html>